*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    padding: 20px;
    width: 900px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.pixel {
    width: calc(800px / 16);
    height: calc(800px / 16);
    border: 1px solid black;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

